@page "/chatroom"
@using System.Collections.Concurrent
@using MyDemoProjects.Application.Shared.Events
@inject NavigationManager NavigationManager
@inject CustomAuthStateProvider CustomAuthStateProvider
@inject IJSRuntime JsRuntime
@implements IDisposable
<AuthorizeView>
    <Authorized>
        <div id="scrollableDiv" class="ma-0" style="height:700px;overflow: auto;">
            <div Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0">
                @foreach (var message in _messages)
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                @if (string.IsNullOrEmpty(message.User.ProfileUrl))
                                {
                                    <MudAvatar Color="Color.Secondary">@message.User.Initials</MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Image="@message.User.ProfileUrl" Style="height:50px; width:50px;"> </MudAvatar>
                                }
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@message.User.Email</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.body2">@message.Message</MudText>
                        </MudCardContent>
                        <MudCardActions>
                        </MudCardActions>
                    </MudCard>
                }
            </div>
        </div>
        <br />
        <div Class="d-flex flex-row px-2 mx-4" Height="100">
            <MudTextField T="string" Label="Chatbox" Variant="Variant.Outlined" Class="mt-n2 mx-4" @bind-Value="_enteredMessage" Immediate="true" @onkeydown="OnEnterKeyPress"  TextUpdateSuppression="false" DisableUnderLine="true" />
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
        </div>

    </Authorized>
</AuthorizeView>

@code {
    private HubConnection _hubConnection { get; set; }
    private List<ChatMessage> _messages = new();
    //TODO casecade it as a parameter
    private User _userSettings = new();
    private List<string> _onlineActivity = new();
    private List<string> _onlineUsers = new();
    private string _enteredMessage { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeAsync<string>("ScrollToBottom", "scrollableDiv");
    }

    protected override async Task OnInitializedAsync()
    {
        _userSettings = CustomAuthStateProvider.UserSettings;
        //OnlineUsersService.OnChange += HandleCircuitsChanged;
        //Establish hub connection
        _hubConnection = _hubConnection.TryInitialize(NavigationManager, CustomAuthStateProvider);
        //TODO : Strongly type client?
        _hubConnection.On<string, ChatMessage>(HubHandler.ReceivedMessage, async (from, chatMessage) =>
        {
            _messages.Add(chatMessage);
            await JsRuntime.InvokeAsync<string>("ScrollToBottom", "scrollableDiv");
            _enteredMessage = string.Empty;
            StateHasChanged();
        });

        _hubConnection.On<string>(HubHandler.UserOnline, (user) =>
        {
            Snackbar.Add($"{user} has entered the chat", Severity.Success);
            StateHasChanged();
        });

        _hubConnection.On<string>(HubHandler.UserOffline, (user) =>
       {
           Snackbar.Add($"{user} has left the chat", Severity.Warning);
           StateHasChanged();
       });

        //Lessons learned kick start your hub connecion after you defined your handlers.
        if (_hubConnection.State == HubConnectionState.Disconnected)
        {
            await _hubConnection.StartAsync();
        }
    }
    private void ClearText()
    {
        _enteredMessage = string.Empty;
    }

    private async Task OnEnterKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    private async Task SendMessage()
    {
        var chatMessage = new ChatMessage
            {
                User = _userSettings,
                Message = _enteredMessage
            };
        await _hubConnection.SendAsync(HubHandler.ReceivedMessage, _userSettings.Email, chatMessage);

    }

    public void Dispose()
    {
        _ = _hubConnection?.DisposeAsync();
    }
}
