@page "/chatroom"
@using MyDemoProjects.Application.Shared.Models
@inject IRetrieveAuthState RetrieveAuthState
@inject NavigationManager NavigationManager
@inject CustomAuthStateProvider CustomAuthStateProvider
@implements IDisposable
<h3>ChatRoom</h3>
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            @if (string.IsNullOrEmpty(userSettings.ProfileUrl))
            {
                <MudAvatar Color="Color.Secondary">@userSettings.Initials</MudAvatar>
            }
            else
            {
                <MudAvatar Image="@userSettings.ProfileUrl" Style="height:50px; width:50px;"> </MudAvatar>
            }
        </CardHeaderAvatar>
        <CardHeaderContent>

        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>

    @foreach (var message in _messages)
    {
        <MudText Typo="Typo.body1">@message</MudText>
    }
    <MudCardContent>
        <MudTextField T="string" Label="Chatbox" Variant="Variant.Outlined" Lines="3" @bind-Value="_enteredMessage" />
    </MudCardContent>
    <MudCardActions>
        <MudButton  Color="Color.Default" OnClick="@SendMessage"> Enter</MudButton>
    </MudCardActions>
</MudCard>
@code {

    private HubConnection _hubConnection { get; set; } = default;
    private List<string> _messages = new List<string>();
    //TODO casecade it as a parameter
    private UserSettings userSettings = new UserSettings();
    private string _enteredMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        userSettings = CustomAuthStateProvider.UserSettings;

        //Establish hub connection
        _hubConnection = _hubConnection.TryInitialize(NavigationManager, CustomAuthStateProvider);
        if (_hubConnection.State == HubConnectionState.Disconnected)
        {
            await _hubConnection.StartAsync();
        }

        //TODO : Strongly type client?
        _hubConnection.On<string, string, string>("ReceiveMessage", async (from, to, message) =>
        {
            _messages.Add($"Message received from {from} :{message}");
            StateHasChanged();
        });

    }

    private async Task SendMessage()
    {
        await _hubConnection.SendAsync("ReceiveMessage", userSettings.NameIdentifier,"", _enteredMessage);
    }

    public void Dispose()
    {
        _ = _hubConnection.DisposeAsync();
    }
}
