@page "/chatroom"
@using System.Collections.Concurrent
@using MyDemoProjects.Application.Shared.Events
@inject NavigationManager NavigationManager
@inject CustomAuthStateProvider CustomAuthStateProvider
@inject IJSRuntime JsRuntime
@implements IDisposable
<AuthorizeView>
    <Authorized>
        <div id="scrollableDiv" class="ma-0" style="height:700px;overflow: auto;">
            <div Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0">
                @foreach (var message in _messages)
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                @if (string.IsNullOrEmpty(message.User.ProfileUrl))
                                {
                                    <MudAvatar Color="Color.Secondary">@message.User.Initials</MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Image="@message.User.ProfileUrl" Style="height:50px; width:50px;"> </MudAvatar>
                                }
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@message.User.Email</MudText>
                                <MudText Typo="Typo.body2">@DateTime.Now</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.body2">@message.Message</MudText>
                        </MudCardContent>
                        <MudCardActions>
                        </MudCardActions>
                    </MudCard>
                }
            </div>
        </div>
        <br />
        <div class="mud-toolbar-gutters">
            <MudTextField T="string" Label="Chatbox" Variant="Variant.Outlined" Lines="3" @bind-Value="_enteredMessage" />
            <MudButton Color="Color.Default" OnClick="@SendMessage"> Enter</MudButton>
        </div>

    </Authorized>
</AuthorizeView>

@code {

    private HubConnection _hubConnection { get; set; } = default;
    private List<ChatMessage> _messages = new List<ChatMessage>();
    //TODO casecade it as a parameter
    private User userSettings = new User();
    private List<string> onlineActivity = new List<string>();
    private List<string> onlineUsers = new List<string>();
    private string _enteredMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        userSettings = CustomAuthStateProvider.UserSettings;
        //OnlineUsersService.OnChange += HandleCircuitsChanged;

        //Establish hub connection
        _hubConnection = _hubConnection.TryInitialize(NavigationManager, CustomAuthStateProvider);
        //TODO : Strongly type client?
        _hubConnection.On<string, ChatMessage>("ReceiveMessage", (from, chatMessage) =>
        {
            _messages.Add(chatMessage);
            StateHasChanged();
        });

        _hubConnection.On<string>("UserOnline", (user) =>
        {

            Snackbar.Add($"{user} has entered the chat", Severity.Success);
            StateHasChanged();
        });

        _hubConnection.On<string>("UserOffline", (user) =>
       {
           Snackbar.Add($"{user} has left the chat", Severity.Warning);
           StateHasChanged();
       });

        //Leasons learned kick start your hub connecion after you defined your handlers.
        if (_hubConnection.State == HubConnectionState.Disconnected)
        {
            await _hubConnection.StartAsync();
        }
    }

    private async Task SendMessage()
    {
        var chatMessage = new ChatMessage
            {
                User = userSettings,
                Message = _enteredMessage
            };
        await _hubConnection.SendAsync("ReceiveMessage", userSettings.Email, chatMessage);
        await JsRuntime.InvokeAsync<string>("Div.scrollToView");
    }

    public void Dispose()
    {
        //OnlineUsersService.OnChange -= HandleCircuitsChanged;
        _ = _hubConnection?.DisposeAsync();
    }
}
