@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IAuthentication Authentication


<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1 mx-auto">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" sm="7">
                    <MudPaper Class="pa-6 align-content-center">
                        <MudForm Model="@User1" @ref="form" @bind-IsValid="@success">
                            <MudTextField @bind-Value="User1.Email" T="string" Label="Email" Required="true" RequiredError="Email is required!"
                                          OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="User1.Password" T="string" Label="Password"
                                          InputType="InputType.Password"
                                          Required="true"
                                          RequiredError="Password is required!" OnlyValidateIfDirty="true" />
                        </MudForm>
                    </MudPaper>
                    <MudPaper Class="pa-4">
                        <MudButton Variant="Variant.Filled" OnClick="@Register">  <MudIcon Icon="@Icons.Filled.AppRegistration" Title="Create account" /></MudButton>
                    </MudPaper>
                    <MudPaper Class="pa-4">
                        <MudText Color="@Color.Error">@errorMessage</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@LoginUser">Login</MudButton>
    </DialogActions>
</MudDialog>
@code {

    bool success;
    MudForm form;
    string errorMessage = string.Empty;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    LoginUserRequest User1 = new LoginUserRequest();

    public async Task LoginUser()
    {
        form.Validate();

        if (form.IsValid)
        {
            var result = await Authentication.LoginAsync(User1);

            if (!result.IsSuccess)
            {
                errorMessage = result.Messages.FirstOrDefault();
            }
            else
            {


                MudDialog.Close();
                NavigationManager.NavigateTo("/index");
            }
        }
       
    }

    public void Register()
    {
        MudDialog.Close();
        DialogService.Show<Register>("Register", new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true, NoHeader = true });

    }


}