@using System.ComponentModel.DataAnnotations
@using MyDemoProjects.Application.Shared.DTO
@inject IAuthentication Authentication
@inject NavigationManager NavigationManager

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1 mx-auto">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" sm="7">
                    <MudPaper Class="pa-4">
                        <MudForm @ref="form" Model="@newUser" Validation="@_registerNewAccountValidator.ValidateValue">
                            <MudTextField @bind-Value="newUser.Email" T="string" Label="Email" 
                                            For="@(() => newUser.Email)" OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="newUser.UserName" T="string" Label="User"  
                                            For="@(() => newUser.UserName)" OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="newUser.FirstName" T="string" Label="First Name"
                                            For="@(() => newUser.FirstName)" OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="newUser.LastName" T="string" Label="Last Name" 
                                            For="@(() => newUser.LastName)" OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="newUser.Password" T="string" Label="Password" InputType="InputType.Password"
                                          For="@(() => newUser.Password)" OnlyValidateIfDirty="true" />
                            <MudTextField @bind-Value="newUser.ConfirmPassword" Label="Confirm Password" InputType="InputType.Password"
                                          For="@(() => newUser.ConfirmPassword)" OnlyValidateIfDirty="true" />
                        </MudForm>
                    </MudPaper>
                    <MudPaper>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@CreateAccount" Class="ml-auto">Create Account</MudButton>
    </DialogActions>
</MudDialog>

@code {
    MudForm form = new MudForm();
    private CreateAccountRequestFluentValidator _registerNewAccountValidator = new CreateAccountRequestFluentValidator();
    CreateAccountRequest? newUser = new CreateAccountRequest();

    private async Task CreateAccount()
    {
       await form.Validate();
        if (form.IsValid && newUser is not null)
        {
            var isCreated = await Authentication.CreateAccountAsync(newUser);

            if (isCreated.IsSuccess is false)
            {
                foreach (var error in isCreated.Messages)
                     Snackbar.Add(error, MudBlazor.Severity.Error);
            }else{
                NavigationManager.NavigateTo("/");
            }
        }
    }

}