@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudAppBar Elevation="1">
               @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />*@
                <MudChip Color="Color.Dark" OnClick="@ToHomePage">MyDemoProjects</MudChip>
                <MudSpacer />
                <Profile></Profile>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" OpenMiniOnHover="true" Variant="@DrawerVariant.Mini" Elevation="1">
                <NavMenu />
            </MudDrawer>

        </Authorized>
        <NotAuthorized>
            <MudAppBar Elevation="1" >
                <MudChip Color="Color.Dark" OnClick="@ToHomePage">MyDemoProjects</MudChip>
                <MudSpacer />
                <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
                    Login
                </MudButton>
            </MudAppBar>
        </NotAuthorized>
    </AuthorizeView>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mb-4 mt-4">
            <ErrorBoundary>
                <ChildContent>  @Body </ChildContent>
                <ErrorContent Context="Exception">
                    <MudChip Color="Color.Secondary">@Exception.GetType()</MudChip>
                    <MudChip Color="Color.Secondary">@Exception.Message</MudChip>
                    <p class="errorUI">Nothing to see here right now. Sorry!</p>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
</MudLayout>
