@page "/animelist"
@inject IAnimeList AnimeListService
@if (AnimeListService.AnimeLists == null)
{
    <MudOverlay Visible="@true" DarkBackground="true" ZIndex="9999" AutoClose="true">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
    </MudOverlay>
}
else
{
    <MudGrid>
        @foreach (var anime in AnimeListService.AnimeLists)
        {
            <MudItem xs="6" sm="3">
                <div Class="d-md-flex pa-1">

                    <MudCard>
                        <MudCardMedia ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" Image="@anime.Node.MainPicture.Large" Class="rounded-lg" Height="250" Elevation="25" />
                        <MudCardContent>
                            <MudText Typo="Typo.h6">@anime.Node.Title (@anime.Node.AlternativeTitles.Ja)</MudText>
                            @* <MudText Typo="Typo.body2">@anime.Node.Synopsis</MudText>*@
                        </MudCardContent>
                        <MudCardActions>

                            @if (anime.Node.Genres != null)
                            {
                                @foreach (var g in anime.Node.Genres.Take(3))
                                {

                                    <MudChip Color="Color.Default"> @g.Name</MudChip>

                                }
                            }
                        </MudCardActions>

                    </MudCard>
                </div>
            </MudItem>
        }
    </MudGrid>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await AnimeListService.GetAnimeListBySeasonAndYear(new Season(2022, "fall"));
    }
}
